---
import fraktion1 from '../assets/1.jpg';
import background from '../assets/background.svg';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
			<h1>🏐 Fraktion Bräune</h1>
			<h3>
				Wir sind eine Freundesgruppe die gerne auf Beach Volleyball Events fährt :)
				<br>
				Folgt uns auf <a href="https://instagram.com/fraktion_braeune/" target="_blank" rel="noopener noreferrer">Instagram</a> für mehr Infos
			</h3>
			<img id="fraktion1" src={fraktion1.src} alt="" fetchpriority="high" />
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#fraktion1 {
		border-radius: 16px;
		max-width: 60%;
		object-fit: contain;
		
		box-shadow:
			0 10px 15px -3px rgba(0, 0, 0, 0.1),
			0 4px 6px -2px rgba(0, 0, 0, 0.05);
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		min-height: 100vh;
		overflow-y: auto;
	}

	main {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 2rem 1rem;
		align-items: center;
	}

	h3 {
		text-align: center;
	}

</style>
